#body {
  background-color: #cbc3e3;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#fcf7de;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 5px solid #b399d4;
} 
.flex-container > h2 {
    align-items: center;
  } 
  .flex-container > p {
    background-color: #ebe0e0;
    color: #9F1338;
    align-items: center;
    margin: 0%;
    padding: 10px
  }
  #landmarkButton {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: 10px solid #bdf2ff;
    cursor: pointer;
    font-size: 40px;
    padding: 30px;
    position: absolute;
    height: 200px;
    width: 1200px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
    font-weight: bolder;
    animation: mymove 5s infinite;
    background-color: #bdf2ff;
  }
  @keyframes mymove {
    50% {
      box-shadow: 10px 20px 30px blue;
    }
  }
  @keyframes flashyBox{
    50% {outline-color: rgb(61, 155, 111);}
  }
  #centerButton{
    height: 200px;
    position: relative;

  }

#title-flex > h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: normal;
  color: #000072;
  font-size: 90px;
  text-decoration: underline;
}
#title-flex > p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  padding: 15px;
  margin: 10px;
  color: #663882;
  border-style: solid;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  animation: textmove 5s infinite;
}
@keyframes textmove {
  50% {text-shadow: 10px 20px 30px rgb(255, 0, 166)};
}
@keyframes textmove {
  50% {text-indent: 150px;
}
}
.theLandmarkClass{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(169, 20, 20, 0.9);
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.landmarkImage{
border:#415f8d;
}

.locationName{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(169, 20, 20, 0.9);
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.landmarkLabel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #c1e7e3;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.landmarkInput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #80e2ff;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
#suggestionsBox > h4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #c1e7e3;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
#suggestionsBox > p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #c1e7e3;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.sugmaBox {
  background-color: #c1e7e3;
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#suggestionsContainer {
  height: 350px;
  width: 100%;
  position: relative;

}
#submitSuggestion {
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}  
#landmarkField {
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#locationField {
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#suggestionsBox {
  outline: 1px solid black;
  animation: flashySug 5s infinite;
  margin: 20px;
}
@keyframes flashySug {
  10% {outline: 15px solid lightblue;}
}
#title-flex > img {
  height: 75px;
  width: 75px;
}
#imagesForNightMode {
  position: relative;
  display: inline-block;
}
#imagesForNightMode #evilCat {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 75px;
  width: 75px;
}
#imagesForNightMode:hover #evilCat {
  display: inline;
  height: 75px;
  width: 75px;
}
#dontTouchMe{
  height: 75px;
  width: 75px;
}